* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 20px;
  background: color #f9f9f9;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.controls {
  max-width: 800px;
  margin: 0 auto 30px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
}

select,
button {
  padding: 8px 12px;
  font-size: 16px;
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 4px;
  background: white;
  transition: background-color 0.3s;
}

select:hover,
button:hover {
  background-color: #f0f0f0;
}

button.active {
  background-color: #007bff;
  color: white;
  border-color: #007bff;
}

#productGrid {
  max-width: 800px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.product-card {
  background: white;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  transition: box-shadow 0.3px;
}

.product-card:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.product-name {
  font-weight: bold;
  font-size: 1.1em;
  margin-bottom: 5px;
}

.product-category {
  font-size: 0.9em;
  color: #555;
}

.product-price {
  font-size: 1.1em;
  color: rgb(86, 152, 86);
  font-weight: bold;
}
.product-rating {
  color: rgb(194, 121, 42);
}
.product-stock {
  font-size: 0.9em;
  margin-top: auto;
}
